# NuGet Packages redirected local folder
packages/

# .NET build output
bin/
obj/

# Application execution logs
logs/

# IDE/User-specific configurations
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
